[Unit]
Description=Gunicorn instance to serve flask edu app
Requires=flask-edu.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=www-data
Group=www-data
# RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/flaskEdu
Environment="PATH=/var/www/flaskEdu/env"
ExecStart=/var/www/flaskEdu/env/bin/gunicorn --workers 4 manage:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
